{
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-es2015-modules-commonjs", { "loose": true }],
    "transform-react-jsx",
    "syntax-jsx"
  ]
}