{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
      "react",
      "jsdoc"
    ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "sourceType": "module",
      "forOf": true,
      "blockBindings": true,
      "arrowFunctions": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "generators": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-type": 1
  }
}
