@import url('../variables.less');
@import url('../mixins.less');

.view-wrapper {
  position: relative;
  min-width:250px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  resize: horizontal;
  overflow-x: auto;
  padding-bottom: 14px;

  &::-webkit-resizer {
    background: url('../../img/view-wrapper__resize-arrows.svg');
    background-size: 14px 14px;
  }
}