@import (reference) url('../variables.less');
@import (reference) url('../mixins.less');
@import (css) url('view-wrapper.less');

.view-placer {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-x: auto;
  .nicer-scrollbars(#fff);

  // &--display-single {

  //   .view-wrapper {
  //     width: 100%;
  //     flex-grow: 1;
  //     flex-shrink: 1;
  //     resize: none;
  //     padding-bottom: 0;
  //   }
  //   .view-file {
  //     width: 100%;
  //     flex-grow: 1;
  //     flex-shrink: 1;
  //   }
  // }
}