.display-list {
  padding: 10px 0;
  min-height: 100%;
  box-sizing: border-box;

  &.drag-target {
    background: #AFD2E8;
  }

  &.focused {
    border: 2px solid #AFD2E8;
  }

  .filterUserInput {
    position: absolute;
    bottom: 15px;
    display: none;

    &.visible {
      display: block;
    }
  }
}