.fs-write-actions {
  max-width: 200px;
  float: right;
  font-size: 11px;
  background: #f1f1f1;
  border-left: 1px solid #ccc;


  .write-action {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;

    .progressing-file {
      margin: 3px 0;
      background: #aaa;
      padding: 4px;
    }
  }
}
