

.icon {
  display:inline-block;
  height:19px;
  width:17px;
  background-repeat: no-repeat;
  background-size: auto 19px;
  background-position: center;
  
  &.display-text {
    background-position-x: 4px;
  }
  
  &.arrow-back {
    background-image: url('../svg/icon-arrow-back.svg');
    background-size: 13px 23px;
  }
  &.arrow-forward {
    background-image: url('../svg/icon-arrow-forward.svg');
    background-size: 13px 23px;
  }
  &.arrow-up {
    background-image: url('../svg/icon-arrow-up.svg');
    background-size: 24px 14px;
  }
  
  &.folder {
    background-image: url('../svg/icon-view-folder.svg');
  }
  
  &.file {
    background-image: url('../svg/icon-view-file.svg');
  }
  
  &.loading {
    background-image: url('../svg/icon-view-loading.svg');
    background-repeat: repeat;
    animation: loading 0.5s linear infinite;
  }
  @keyframes loading {
      from   {background-position: 0,0;}
      to {background-position: 0px 19px;}
  }
  
  &.broken {
    background-image: url('../svg/icon-view-broken.svg');
  }
  
  &.link, &.link.file {
    background-image: url('../svg/icon-view-file-link.svg');
  }
  
  &.link.folder {
    background-image: url('../svg/icon-view-folder-link.svg');
  }
  
  &.open {
    background-image: url('../svg/icon-file-open.svg');
    background-size: 15px 13px;
  }
  
  &.finder {
    background-image: url('../svg/icon-file-finder.svg');
    background-size: 18px 19px;
  }
  
  &.clipboard {
    background-image: url('../svg/icon-file-clipboard.svg');
    background-size: 12px 16px;
  }
}

.nav-bar .icon {
  
  height:19px;
  width:17px;
  background-repeat: no-repeat;
  background-size: auto 19px;
  background-position: center;
  
  &.folder {
     background: url('../svg/icon-sidebar-folder.svg') !important;
  }
  
  &.file {
    background-image: url('../svg/icon-view-file.svg');
  }
  
  &.jpg {
     background-image: url('../svg/icon-view-broken.svg');
  }
 
}