/*
 *  VIEW STYLES (REACT COMPONENT)
*/

.paneViews {
  &::-webkit-scrollbar {
    height:10px;
    width:10px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background:rgb(235, 235, 235);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:#ADADAD;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background:$color-font-default;
  }
  
  &.single-view {
    
    display: flex;
    flex-direction: row;
    align-content: stretch;
    
    .view {
      display: none;
      position:relative !important;
      left: auto !important;
      top: auto !important;
      bottom: auto !important;
      right: auto !important;
      resize: none;
      flex: 1;
      height:auto;
    }
    
    aside:last-of-type {
      display:block;
      width:34% !important;
    }
      
    section:last-of-type {
      display: block;
      width:66% !important;
    }
    
    section:last-child {
      width:100% !important;
    }
  }
}

.view {
  position:absolute;
  width:250px;
  max-width:100%;
  height: 100%;
  top:0;
  bottom: 0;
  display: block;
  border-right:1px solid $color-border-gray;
  box-sizing: border-box;
  resize: horizontal;
  overflow:auto;
  padding-bottom: $view-bottom-space;
  
  .loading-cube {
    display:none
  }
  
  &.loading {
    .loading-cube {
      display:block;
    }
    
    .view-toolbar,
    .view-content {
      display:none;
    }
  } 
 
  &:hover .view-toolbar {
    opacity: 1 !important;
  }

  &.fullWidth,
  &.loading  {
    min-width: 400px;
    width:auto;
    right:0;
    border-right:0px; 
  }
  
  &::-webkit-resizer { 
    /*background:url(../svg/icon-arrow-small-right.svg) bottom no-repeat;
    background-size: 4px 8px;*/
  }

  .view-toolbar {
    -webkit-app-region: drag;
    height:$view-toolbar-height;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index:100;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    box-sizing: border-box;
    border-bottom:1px solid $color-border-gray-light;
    background: $color-background;
    opacity: 0;
    transition: opacity .5s;
    padding:
      calc((#{$view-toolbar-height} - #{$button-height}) / 2) 
      $view-padding-horiz;
      
    button {
      height: $button-height;
    }
  }
  
  .view-content {
    height: 100%;
  }
}