@import (reference) '../variables.less';
@import (reference) '../mixins.less';

.view-folder {

}

.slate-editor {
  min-height: 100%;

  *::selection {
    color: @color__text-white; background: @color__main-decoration;
  }

  // Text Blocks, Not File Blocks
  >div { //:not([data-slate-void="true"]) {
    color: #555;
    padding: 0 @editor-padding-right 0 @editor-padding-left;
  }

  .slate-markdown__link {
    color: #57f;
    &:hover {
      text-decoration: underline;
    }
  }

}
