.animation__shrink(@default-height, @time: 350ms) {
  &--animation-enter {
    height: 0px;
    overflow: hidden;
  }

  &--animation-enter&--animation-enter-active {
    height: @default-height;
    transition: height @time ease-out;
  }

  &--animation-leave {
    height: @default-height;
    overflow: hidden;
  }

  &--animation-leave&--animation-leave-active {
    height: 0;
    transition: height @time ease-out;
  }
}


.animation__shrink-and-fade(@default-height, @time: 150ms) {
  &--animation-enter {
    height: 0px;
    opacity: 0;
    overflow: hidden;
  }

  &--animation-enter&--animation-enter-active {
    height: @default-height;
    opacity: 1;
    transition: height @time ease-out, opacity @time ease-out;
  }

  &--animation-leave {
    height: @default-height;
    opacity: 1;
    overflow: hidden;
  }

  &--animation-leave&--animation-leave-active {
    height: 0;
    opacity: 0;
    transition: height @time ease-out, opacity @time ease-out;
  }
}


.animation__slide-right(@default-width, @time: 350ms) {
  &--animation-enter {
    right: -@default-width;
    opacity: 0;
    overflow: hidden;
  }

  &--animation-enter&--animation-enter-active {
    right: 0;
    opacity: 1;
    transition: right @time ease-out, opacity @time ease-out;
  }

  &--animation-leave {
    right: 0;
    opacity: 1;
    overflow: hidden;
  }

  &--animation-leave&--animation-leave-active {
    right: -@default-width;
    opacity: 0;
    transition: right @time ease-out, opacity @time ease-out;
  }
}