@import url('variables.less');
@import url('mixins.less');

@import url('app/app.less');
@import url('nav-bar/nav-bar.less');  
@import url('sidebar.less');
@import url('view-placer/view-placer.less');
@import url('view-folder/view-folder-list.less');
@import url('filter/filter-type.less');
@import url('view-file/view-file.less');
@import url('addon-bar/addon-bar.less');
@import url('fs-write-overview/fs-write-overview.less');

html, 
body {
  height: 100%
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: @font__family-main;
  font-size: @font__size-base;
  color: @color__text-black;
}