@import (reference) url('variables.less');
@import (reference) url('mixins.less');

@import (css) url('app/app.less');
@import (css) url('nav-bar/nav-bar.less');
@import (css) url('sidebar.less');
@import (css) url('view-placer/view-placer.less');
@import (css) url('view-folder/view-folder.less');
@import (css) url('filter/filter-type.less');
@import (css) url('view-file/view-file.less');
@import (css) url('addon-bar/addon-bar.less');
@import (css) url('tooltip/tooltip.less');
@import (css) url('fs-write-overview/fs-write-overview.less');

html,
body {
  height: 100%
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: @font__family-main;
  font-size: @font__size-base;
  color: @color__text-black;
  overflow: hidden;
}
