@import url('variables.less');
@import url('mixins.less');
@import url('app.less');
@import url('sidebar.less'); 
@import url('history.less'); 

html, 
body {
  height: 100%
}

body {
  margin: 0;

  font-family: @font__family-main;
  font-size: @font__size-base;
  color: @color__text-black;
}