@color__main-dark: #1D3037;
@color__main-dark--lighten-10: lighten(@color__main-dark, 10%);
@color__main-decoration: #36968B;

@color__text-black: #333635;
@color__text-light: #B9BCBE;

@font__family-main: Roboto, sans-serif;
@font__size-base: 13px;

@height__top-toolbar: 45px;