@import url('../variables.less');
@import url('../mixins.less');

@import url('nav-bar-group.less');
@import url('nav-bar-item.less');

.nav-bar {
  height: 100%; 
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;

  &--drop-target {
    position: relative;
    &::before {
      content: '';
      .drop-zone;
      z-index: 0;
    }
    & > * {
      z-index: 10;
      position: relative;
    }
  }
}
