@import (reference) url('../variables.less');
@import (reference) url('../mixins.less');
@import (reference) url('./nav-bar-mixins.less');
@import (reference) url('../mixins-animation.less');

.nav-bar-item {

  @height_nav-bar-item: 28px;

  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: @height_nav-bar-item;
  padding: 0 @padding__sidebar-horizonal;
  transition: background 0.3s;
  overflow: hidden;

  .animation__shrink(@height_nav-bar-item);

  // File Icon
  &::before {
    margin-right: 8px;
  }
  &--theme-folder::before {
    .icon('../../img/nav-bar-item__icon-folder.svg', 0.5, @height: @height_nav-bar-item);
  }
  &--theme-file::before {
    .icon('../../img/nav-bar-item__icon-file.svg', 0.5, @height: @height_nav-bar-item);
  }
  &--theme-device::before {
    .icon('../../img/nav-bar-item__icon-device.svg', 0.5, @height: @height_nav-bar-item);
  }



  &__text {
    display: block;
    width: 100%;
    flex: 1 1;

    // Text
    line-height: @height_nav-bar-item;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @color__text-light;
  }

  &__button-remove {
    .button__right('../../img/nav-bar-item__icon-delete.svg', @height_nav-bar-item);
  }

  &:hover {
    background: lighten(@color__main-dark, 3%);

    .nav-bar-item__button-remove {
      display: block;
    }
  }

  &--active {
    background: @color__main-decoration !important;
    &::before {
      opacity: 1;
    }
    &::after {
      .icon(@icon: '../../img/arrow-small-white.svg', @opacity: 0.5, @height: @height_nav-bar-item);
    }
    &:hover::after {
      display: none;
    }
    .nav-bar-item__text {
      color: #fff;
    }
  }

  &--is-dragging {

    background: transparent !important;

    // Hide Content
    .nav-bar-item__text,
    .nav-bar-item__button-remove,
    &::before,
    &::after {
      display: none !important;
    }
  }

  &--is-dragging &__underlay {
    content: '';
    .drop-zone;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 5px;
  }


  &__underlay {
    @drag-over-expand-time: 0.9s;
    content: '';
    display: block;
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 0;
    background: @color__main-decoration;
    opacity: 0;
    top: calc(@height_nav-bar-item / 2);
    left: 0;
    transition:
      top @drag-over-expand-time linear,
      height @drag-over-expand-time linear,
      opacity @drag-over-expand-time linear;
  }

  &--drop-target &__underlay {
    // drag-over-expand transition
    top: 0;
    height: @height_nav-bar-item;
    opacity: 1;
  }

}
