@import (reference) url('../variables.less');
@import (reference) url('../mixins.less');
@import (reference) url('../addon-bar/addon-bar.less');


.fs-write-action {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @border-color;
  padding: 15px;

  &__button-close {
    .button-reset;
    .icon(
      @icon: '../../img/fs-write-action__button-close.svg', 
      @opacity: 0.5, 
      @height: 17px, 
      @width: 17px
    );
    border:1px solid transparent;
    align-self: flex-end;
    margin: -10px -10px 0 0;
    border-radius: 50%;
    box-sizing: border-box;

    &:hover {
      border-color: lighten(@color__main-dark, 30%);
      opacity: 0.7;
    }
  }

  &__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__error-message {
    color: @color__warning;
    margin: 10px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__error-button-overwrite,
  &__error-button-cancel {
    .button-reset;
    border: 1px solid @border-color;
    border-radius: 6px;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    &:hover {
      background: lighten(@border-color, 10%);
    }
    &:active {
      background: @color__main-decoration;
      border-color: @color__main-decoration;
      color: @color__text-white;
    }
  }

  &__content {
    display: flex;
    align-items: stretch;
  }

  &__progress-arrow {
    flex-shrink: 0;
    margin-right: 4px;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: stretch;
    overflow: hidden;
  }

  &__item {
    display: flex;
    padding: 3px 0;
    flex-shrink: 1;
    flex-grow: 1;

    &__filename {
      color: @color__text-sallow;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--theme-file::before {
      .icon(@icon: '../../img/addon-bar__icon-file.svg');
      margin-right: 5px;
    }

    &--theme-folder::before {
      .icon(@icon: '../../img/addon-bar__icon-folder.svg');
      margin-right: 5px;
    }
  }
}