@import url('../variables.less');
@import url('../mixins.less');

@import url('./fs-write-action.less');

.fs-write-overview {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
}