// LIGHT

// Define Colors
@color__decoration: #4C8CE9; //#E93E5B;
@color__decoration-light: fadeout(@color__decoration, 87%);
@color__white: #FFF;
@color__grey-lightest: #F7F7F7;
@color__grey-light: #E0E0E0;
@color__grey-mid: #AAA;
@color__grey-strong: #888;
@color__grey-dark: #555;
@color__black: #404040;

@color__green: #01C321;
@color__red: #D1335D;
@color__blue: #4C8CE9;

// Spread Colors
@color__icon__default: @color__grey-dark;

// Define Font
@font-family__default: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
@font-family__serif: "Crimson Text", "sans-serif";

@font__size-small: 12px;
@font__size-light: 13px;
@font__size-normal: 14px;
@font__size-medium: 15px;

// Sizes
@height__top-toolbar: 45px;
@padding__sidebar-horizonal: 22px;
@width__scrollbars: 5px;
@editor-padding-left: 40px;
@editor-padding-right: 40px;
@editor__item__prefix-width: 40px;
