@import '_variables.less';
@import '_mixins.less';
@import 'mixins-animation.less';

@icon-size: 38px;
@icon-spacing: 4px;
@width-container: 300px;
@bg-color: transparent;
@addon-border-color: transparent; // rgba(255,255,255,0);// lighten(@bg-color, 8%);

.addon-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  border-radius: 4px;

  &__icon-toolbar {
    width: calc(@icon-size + @icon-spacing * 2);
    z-index: 1;
    // border-left: 1px solid @color__grey-light;
  }

  .addon-bar-icon(@icon) {

    // border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
    padding: 7px 0;
    height: @icon-size;
    flex-grow: 0;
    flex-shrink: 0;
    .icon-container;

    &:after {
      .icon-svg('../img/@{icon}', @color__icon__light)
    }

    &:first-child {
      // border-top-color: transparent !important;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--active {
      // background-color: @color__grey-lightest;
      &:after {
        background: @color__white
      }
      background: @bg-color; // rgba(255,255,255,.02);
      border-color: @addon-border-color;
    }

  }

  &__icon-fs-write {
    .addon-bar-icon('icon__transfer__25x25.svg');
  }

  &__icon-settings {
    .addon-bar-icon('icon__settings__25x25.svg');
  }

  &__css-transition-group {
    display: flex;
    align-items: stretch;
  }

  &__view-container {
    .animation__slide-right(@width-container);
    position: relative;
    width: @width-container;
    overflow-y: auto;
    will-change: transform;
    padding: 10px;
    margin-left: 2px;
    background: @bg-color; // rgba(255,255,255,.02);
    border: 1px solid @addon-border-color; // rgba(255,255,255,.02);
    border-radius: 5px 0 5px 5px;
    .nicer-scrollbars;
  }
}

.no-settings {
  width: 100%;
  height: 100%;
  .icon-container;
  align-items: flex-start;
  padding-top: 30%;
  box-sizing: border-box;

  &::after {
    .icon-svg('../img/no-settings-yet.svg', @color__icon__default)
  }
}
